<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ECService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <!-- 全局初始化参数配置 -->
  <context-param>
    <param-name>Encoding</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <!-- 监听器配置 -->
  <filter>
    <description>全站乱码解决过滤器</description>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.ycc.redbabyserver.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 过滤器配置 -->

  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.user.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfo</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.user.UserinfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Version</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.user.VersionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Favorites</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.user.FavoritesServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchRec</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.SearchRecServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.SearchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Topic</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.topic.TopicServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TopicPList</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.topic.TopicPListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Brand</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.topic.BrandServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrandPList</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.topic.BrandPListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LimitBuy</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.topic.LimitbuyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewPro</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.topic.NewProServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotPro</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.topic.HotProServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddressList</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.address.AddressListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressSave</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.address.AddressSaveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressArea</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.address.AddressAreaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressDefault</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.address.AddressDefaultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressDelete</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.address.AddressDeleteServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Checkout</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.checkout.CheckoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderSumbit</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.checkout.OrderSumbitServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>OrderList</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.order.OrderListServlet</servlet-class>
  </servlet>

  <!-- 购物车servlet -->
  <servlet>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.cart.ShoppingCartServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CartClear</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.cart.CartClearServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>CartUpdate</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.cart.CartUpdateServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>OrderDetail</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.order.OrderDetailServlet</servlet-class>
  </servlet>


  <!-- 产品servlet -->
  <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.product.CategoryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Productlist</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.product.ProductlistServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Product</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.product.ProductServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProductDescription</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.product.ProductDescriptionServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProductComment</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.product.ProductCommentServlet</servlet-class>
  </servlet>


  <servlet>
    <servlet-name>ProductFavorites</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.product.ProductFavoritesServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Invoice</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.checkout.InvoiceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>OrderCancel</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.order.OrderCancelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logistics</servlet-name>
    <servlet-class>com.ycc.redbabyserver.web.order.LogisticsServlet</servlet-class>
  </servlet>





  <!-- servlet-mapping -->


  <!-- 用户模块 -->
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfo</servlet-name>
    <url-pattern>/userinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Version</servlet-name>
    <url-pattern>/version</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Favorites</servlet-name>
    <url-pattern>/favorites</url-pattern>
  </servlet-mapping>

  <!-- 主页和搜索模块  -->
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRec</servlet-name>
    <url-pattern>/search/recommend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>

  <!-- 专题和品牌模块 -->
  <servlet-mapping>
    <servlet-name>Topic</servlet-name>
    <url-pattern>/topic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TopicPList</servlet-name>
    <url-pattern>/topic/plist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Brand</servlet-name>
    <url-pattern>/brand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrandPList</servlet-name>
    <url-pattern>/brand/plist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LimitBuy</servlet-name>
    <url-pattern>/limitbuy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewPro</servlet-name>
    <url-pattern>/newproduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotPro</servlet-name>
    <url-pattern>/hotproduct</url-pattern>
  </servlet-mapping>

  <!-- 结算中心模块 -->
  <servlet-mapping>
    <servlet-name>Checkout</servlet-name>
    <url-pattern>/checkout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderSumbit</servlet-name>
    <url-pattern>/ordersumbit</url-pattern>
  </servlet-mapping>


  <!-- 地址模块 -->

  <servlet-mapping>
    <servlet-name>AddressList</servlet-name>
    <url-pattern>/addresslist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressSave</servlet-name>
    <url-pattern>/addresssave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressArea</servlet-name>
    <url-pattern>/addressarea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressDefault</servlet-name>
    <url-pattern>/addressdefault</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressDelete</servlet-name>
    <url-pattern>/addressdelete</url-pattern>
  </servlet-mapping>

  <!-- 订单模块 -->
  <servlet-mapping>
    <servlet-name>OrderList</servlet-name>
    <url-pattern>/orderlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetail</servlet-name>
    <url-pattern>/orderdetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderCancel</servlet-name>
    <url-pattern>/ordercancel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logistics</servlet-name>
    <url-pattern>/logistics</url-pattern>
  </servlet-mapping>

  <!-- 分类及产品详情模块 -->
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Productlist</servlet-name>
    <url-pattern>/productlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductDescription</servlet-name>
    <url-pattern>/product/description</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductComment</servlet-name>
    <url-pattern>/product/comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductFavorites</servlet-name>
    <url-pattern>/product/favorites</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Invoice</servlet-name>
    <url-pattern>/invoice</url-pattern>
  </servlet-mapping>

  <!-- 购物车 -->
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CartClear</servlet-name>
    <url-pattern>/cartclear</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CartUpdate</servlet-name>
    <url-pattern>/cartupdate</url-pattern>
  </servlet-mapping>





  <!-- 主页配置 -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>